<section class="graph flex justify-center py-12 overflow-x-hidden mt-20">
  @if(this.lineChartData[0].data.length > 0) {
  <canvas
    baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [plugins]="lineChartPlugins"
  >
  </canvas>
  } @else {
  <div class="blankChart"></div>
  }
</section>

<section class="openList">
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th></th>
        <th>Close</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @for(stock of stocks; track stock.id){

      <tr (click)="select(stock.symbol)">
        <td>{{ stock.symbol }}</td>
        <td>
          @if(stock.buy > 0) { Bought at {{ stock.buy }} } @else { Sold at
          {{ stock.sell }}
          }
        </td>
        <td>
          <button
            class="btn btn-primary"
            (click)="close(stock.symbol, stock.buy)"
          >
            Close
          </button>
        </td>
        <td>{{ timeAgo(stock.timestamp) }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
