<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stock Form</h4>
    <button
      type="button"
      class="btn-close btn btn-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="selectedStock">
      <div class="stockInfo">
        <img [src]="stock?.logo" alt="img" />
        <h1>
          {{ stock?.name }}
        </h1>
      </div>
      <div class="stockPrice">
        <p>
          Buy Price:
          {{ stock?.buy }}
        </p>
        <p>
          Sell Price:
          {{ stock?.sell }}
        </p>
      </div>
    </div>
    <form id="purchaseForm" [formGroup]="openEntry" #f="ngForm">
      <div class="selectType">
        <label for="type">Type</label>
        <input
          type="radio"
          id="buy"
          name="type"
          formControlName="type"
          checked
        />
        <label for="buy">Buy</label>

        <input type="radio" id="sell" name="type" formControlName="type" />
        <label for="sell">Sell</label>
      </div>

      <div>
        <label for="assets">Assets</label>
        <input
          type="number"
          id="assets"
          name="assets"
          formControlName="assets"
          required
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="handleConfirm(); modal.close('Save click')"
      [disabled]="openEntry.invalid"
    >
      Confirm
    </button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Select</button>
