<div class="py-5 sm:py-8">
  <div class="container-lg py-5">
    <div class="mx-auto text-center">
      <h2
        class="text-3xl text-white font-bold tracking-tight text-gold sm:text-4xl"
      >
        Join Now
      </h2>
    </div>
    <div
      id="profileForm"
      class="mx-auto mt-5 max-w-2xl rounded-3 ring-1 ring-gray-200 sm:mt-8"
    >
      <form action="#" method="post" class="p-6">
        @for(field of fields; track field) {
        <div class="mb-4 mx-auto">
          <label
            [for]="field"
            class="block text-white text-sm font-semibold text-indigo"
            >{{ CFL(field) }}</label
          >
          <p class="text-white">
            {{ mapInvestor(field) }}
          </p>
          <button type="button" class="btn btn-secondary">Edit</button>
        </div>
        }
        <button id="profileFormBtn" type="submit" class="w-full btn btn-danger">
          Delete Account
        </button>
      </form>
    </div>
  </div>
</div>
