<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create an account</h4>
    <button
      type="button"
      class="btn-close btn btn-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="registerForm">
      @for(entry of entryFields; track entry){
      <mat-form-field class="example-form-field">
        <mat-label>{{ entry }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      }
      <button (click)="handleCreate()" type="submit">Create</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="handleCreate(); modal.close('Save click')"
    >
      Confirm
    </button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Register</button>
