<nav>
  <div>
    <img class="navLogo" src="../../../assets/solidstockLogo.PNG" alt="Logo" />
    <ul class="navMenu">
      @for (link of links; track link; let i = $index) {
      <li class="navLinks">
        <a
          class="navLink"
          [routerLink]="i == 0 ? '/' : '/' + link"
          routerLinkActive="active"
        >
          {{ CFL(link) }}
        </a>
      </li>
      }
    </ul>
  </div>

  <div class="navBtns">
    <button class="navBtn" type="button">
      <fa-icon [icon]="bell"></fa-icon>
    </button>
    <button class="navBtn" type="button">
      <fa-icon [icon]="gear"></fa-icon>
    </button>
  </div>
</nav>
