<table>
  <thead>
    <tr>
      @for(thead of theads; track thead) {
      <th>
        {{ thead }}
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @if (stocks.length > 0) { @for(stock of stocks | slice: (page-1) * pageSize:
    page * pageSize; track stock.id) {
    <tr>
      <td>
        <img [src]="stock.logo" alt="img" />
      </td>

      <td>
        {{ stock.symbol }}
      </td>
      <td>
        {{ stock.name }}
      </td>
      <td [class]="checkChange(stock.buyChange)">
        {{ stock.buy }}
      </td>
      <td [class]="checkChange(stock.sellChange)">
        {{ stock.sell }}
      </td>
      <td class="red">{{ stock.high }} / {{ stock.low }}</td>
      <td>
        <app-purchase-form [stock]="stock"></app-purchase-form>
      </td>
    </tr>
    } } @else {
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <app-loading></app-loading>
    </tr>
    }
  </tbody>
</table>

@if(stocks.length > pageSize) {
<div class="pagination px-auto py-3 mx-auto">
  <div>
    <ngb-pagination
      [collectionSize]="stocks.length"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    />
  </div>
</div>
}
