@import "../../variables.less";

table {
  border-radius: 5%;
  border-collapse: collapse;
  border: none;
  box-shadow: 0 0 20px #33333373;
  width: 50%;
  margin: 0 auto;
  thead {
    border-bottom: 1px @gold solid;
    th {
      font-size: 20px;
      color: @textColor;
    }
  }
  tbody {
    &:nth-child(odd) {
      background-color: @gold;
      tr {
        color: @dark;
      }
    }
    tr {
      height: 35px;
      font-size: 16px;
      td {
        text-align: center;
        color: @textColor;
      }
    }
  }
}
