@import "../../variables.less";

table {
  border-radius: 5%;
  border-collapse: collapse;
  border: none;
  box-shadow: 0 0 20px #33333373;
  width: 50%;
  margin: 0 auto;
  thead {
    border-bottom: 1px @gold solid;
    th {
      font-size: 20px;
      color: @textColor;
      text-align: center;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: rgba(45, 45, 45, 0.6);
      tr {
        color: @dark;
      }
    }
    tr {
      height: 35px;
      font-size: 16px;
      td {
        color: @textColor;
      }
    }
  }
}

.pagination {
  width: 100%;
  .setRow;
  justify-content: center;
}

@media (max-width: 1000px) {
  table {
    width: 90%;
  }
}

@media (max-width: 500px) {
  table {
    width: 100%;
    thead {
      th {
        &:first-of-type,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(7) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        td {
          &:first-of-type,
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(7) {
            display: none;
          }
        }
      }
    }
  }
}
