<table>
  <thead>
    <tr>
      @for(thead of theads; track thead) {
      <th>
        {{ thead }}
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @if (stocks.length > 0) { @for(stock of stocks; track stock.id) {
    <tr>
      <td>
        <img [src]="stock.weburl" alt="img" />
      </td>
      <td>
        {{ stock.finnhubIndustry }}
      </td>
      <td>
        {{ stock.symbol }}
      </td>
      <td>
        {{ stock.name }}
      </td>
      <td>
        {{ stock.buy }}
      </td>
      <td>
        {{ stock.sell }}
      </td>
      <td>{{ stock.high }} / {{ stock.low }}</td>
      <td>
        <button type="button" class="btn btn-primary">Select</button>
      </td>
    </tr>
    } } @else {
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <app-loading></app-loading>
    </tr>
    }
  </tbody>
</table>
